:root{
    /*Tamanho de teclas*/
    --tamanhoQuadrado: 80px;
    --tamanhoQuadradoLargo: 170px; /*--tamanhoQuadrado x 2 - Quase isso XD */
    --larguraInput: 350px;
    --alturaInput: 60px;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(162, 47, 47);
}

div.container{
    margin-left: 35%;
    width: 360px;
    display: inline-block;
    padding: 60px 20px 20px 20px;
    border-radius: 10px;
    background-color: black;
    opacity: 0.95;
    font-family: Arial, Helvetica, sans-serif;
}

div.container h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

div.container table{
    margin-top: 20px;
}

input#input-resultado{
    width: var(--larguraInput);
    height: var(--alturaInput);
    font-size: 32px;
}

button.botao{
    color: white;
    background-color: rgb(58, 58, 58);
    margin: 3px;
    width: var(--tamanhoQuadrado);
    height: var(--tamanhoQuadrado);
    font-size: 24px;
    border: none;
    transition: 0.2s;
}

button.botao:hover{
    color: black;
    background-color: white;
}

button.botao-largo{
    width: var(--tamanhoQuadradoLargo);
}

button.botao-alto{
    height: var(--tamanhoQuadradoLargo);
}